@import url('./components/Header/header.css');
@import url('./components/BasketButton/basketButton.css');
@import url('pages/adminPanel/adminPanel.css');
@import url('pages/adminPanel/Orders/orders.css');
@import url('pages/adminPanel/Orders/OrderItem/orderItem.css');
@import url('pages/adminBasket/adminBasket.css');
@import url('components/modals/modal.css');
@import url('pages/main/ItemsList/itemsList.css');
@import url('pages/main/ItemCard/card.css');
@import url('./pages/main/Content/content.css');
@import url('components/DynamicFields/DynamicField/dynamicField.css');
@import url('./utils/swal/swal.css');
@import url('./components/FormFields/formFields.css');
@import url('pages/basket/BasketItem/basketItem.css');
@import url('pages/basket/basket.css');
@import url('./components/OrderFormFields/orderFormFields.css');
@import url('./pages/about/AboutItem/about.css');
@import url('./pages/delivery/Delivery/delivery.css');
@import url('./pages/main/Filters/filters.css');
@import url('./components/StoreItem/storeItem.css');
@import url('components/Checkout/Indicator/indicator.css');
@import url('components/Checkout/checkout.css');


body {
    background-image: url("images/nuts_plate.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.app {
    flex: 1 1 auto;
    position: relative;
    max-width: 1120px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button {
    padding: 5px 10px;
    min-width: 179px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    background-color: lightgray;
}
button:hover {
    background-color: orangered;
}
input {
    width: 350px;
    height: 35px;
    margin-bottom: 5px;
}

h2 {
    text-align: center;
}
