@import url('./app.css');
@import url('./components/Header/header.css');
@import url('./components/BasketButton/basketButton.css');
@import url('pages/adminPanel/adminPanel.css');
@import url('pages/adminPanel/Orders/orders.css');
@import url('pages/adminPanel/Orders/OrderItem/orderItem.css');
@import url('pages/adminBasket/adminBasket.css');
@import url('components/modals/modal.css');
@import url('pages/main/ItemsList/itemsList.css');
@import url('pages/main/ItemCard/card.css');
@import url('./pages/main/Content/content.css');
@import url('components/forms/ItemForm/DymamicFields/DynamicField/dynamicField.css');
@import url('./utils/swal/swal.css');
@import url('components/forms/ItemForm/ItemFormFields/formFields.css');
@import url('pages/basket/BasketItem/basketItem.css');
@import url('pages/basket/basket.css');
@import url('./pages/about/AboutItem/about.css');
@import url('./pages/delivery/Delivery/delivery.css');
@import url('./pages/main/Filters/filters.css');
@import url('./components/StoreItem/storeItem.css');
@import url('components/forms/Checkout/Indicator/indicator.css');
@import url('components/forms/Checkout/checkout.css');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("assets/images/nuts_plate.jpg");
  background-size: cover;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
}

h2 {
  text-align: center;
}