.form_fields {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.form_fields__img-label {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: solid 3px orangered;
    text-align: center;
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    background-color: #a2e125;
}
.form_fields label:hover {
    background-color: orangered;
}
.form_fields textarea {
    height: 100px;
    margin-bottom: 5px;
}
#img_input {
    display: none;
}
