.basket-item {
    display: grid;
    grid-template-areas: 'item price count total delete';
    grid-template-columns: 1.5fr 3.5fr repeat(3, 2fr) 1fr;
    grid-template-rows: 140px;
    justify-items: center;
    align-items: center;
    padding: 5px 10px;
    color: #2a2929;
    min-height: 100px;
    border: solid 1px gray;
    border-radius: 8px;
    background-color: #cee3e3;
    margin: 10px 5px 0 5px;
    font-size: 1.25rem;
    font-weight: 500;
}
.basket-item:hover {
    box-shadow: -11px 9px 18px rgb(96, 55, 5);
    border: solid 2px orangered;
}
.basket-item__name {
    justify-self: self-start;
    margin-left: 25px;
}
.basket-item__image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.basket-item__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.basket-item__counter {
    display: flex;
}
.basket-item__counter-number {
    padding-top: 15px;
}

@media (max-width: 767px) {
    .basket-item {
        position: relative;
        grid-template: 60px 30px/70px 7fr 5fr;
        align-content: center;
        justify-items: start;
        font-size: 1rem;
        font-weight: 500;
        min-height: 60px;
        grid-gap: 5px;
    }
    .basket-item__name {
        margin-left: 0;
    }
    .basket-item__image {
        max-width: 60px;
    }
    .basket-item__counter {
        grid-column: 1/3;
        font-size: 1rem;
    }
    .basket-item__counter-number {
        margin-top: 5px;
    }
    .basket_item__cancel_button {
        position: absolute;
        top: -25px;
        right: -20px;
    }
}
