.orders_header {
    display: grid;
    grid-template-areas: 'N client address total active delete';
    grid-template-columns: 1fr 3fr 4.5fr 1.5fr 1fr 1fr;
    grid-template-rows: 60px;
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #211e1e;
    justify-items: start;
    align-items: center;
    color: whitesmoke;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 2px;
}
.orders_header__number {
    justify-self: center;
}
