.item-card {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto minmax(0, auto) minmax(0, auto) / 1fr;
    grid-auto-rows: 1fr;
    cursor: pointer;
    background: #286800;
    border-radius: 8px;
    box-shadow: -11px 9px 18px rgb(18, 45, 7);
    padding: 1px;
    position: relative;
}
.item-card:hover {
    background: #286800;
    box-shadow: -11px 9px 18px rgb(96, 55, 5);

}
.item-card__image {
    overflow: hidden;
    position: relative;
    padding: 0 0 70% 0;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.item-card__image img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.item-card__description {
    padding: 0 10px;
    color: #2A2727;
    background: #FDE88D;
    font-size: 0.875rem;
    overflow: hidden;
}

.item-card__label {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    overflow: hidden;
    padding: 5px 10px;
    min-height: 40px;
    background: #4CAA2B;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #2A2727;
    font-weight: 500;
    border-top: solid 1px gray;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.item-card__label-name {
    align-self: flex-start;
}
.item-card__label-price {
    align-self: flex-end;
    font-size: 1.25rem;
    line-height: 1.5rem;
}
.item-card button {
    position: absolute;
    top: -20px;
    right: 0;
    color: #FDE88D;
    min-width: 90px;
    min-height: 90px;
    border-radius: 45px;
    background: #4CAA2B;
    margin: 5px -20px 8px 5px;
    padding: 7px 13px;
}
.boss {
    height: 42px;
}

@media (max-width: 767px) {
    .boss {
        height: 63px;
    }
    .item-card button {
        right: 5px;
        margin: 5px -15px 8px 5px;
    }
}
