.modal__overlay {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, .5);
    cursor: default;
}

.modal__header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__title {
    font-family: "Open Sans";
    font-size: 28px;
    font-weight: 700;
}

.modal__title span:hover {
    color: #4d5454;
    cursor: pointer;
}
